.navbar{
    background-color: darkred;
    padding: 15px 5px 15px 5px;
    position: fixed;
    z-index: 99;
    width: 100%;
    font-weight: bold;
    
}

.navbar-a{
    margin-left: 20px;
    text-decoration: none;
    color: white;
}

.navbar-a:hover{
    color: black;
}