.main{

}

.card-container{
    box-shadow:"none";
    margin:50px;
    margin-top: 0;
    padding:50px;
}

.img{
    text-align: center;
    margin-top: 30px;
}

.x-button{
    float: right;
}

.scrolltop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px;
    color: white;
    background-color: crimson;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 5px;
     
}

.scrolltop:focus{
    outline: none;
}