.main{

}

.card-container{
    box-shadow:"none";
    margin:50px;
    margin-top: 0;
    padding:50px;
}

.img{
    text-align: center;
    margin-top: 30px;
}

.x-button{
    float: right;
}

.scrolltop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px;
    color: white;
    background-color: crimson;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 5px;
     
}

.scrolltop:focus{
    outline: none;
}

.loading{
    text-align: center;
}

.loader {
    margin: auto;
    margin-top: 20px;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }